#Useful gitignore for python: https://github.com/github/gitignore/blob/master/Python.gitignore
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
distribute-0.*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Annoying MacOSX files.
.DS_Store
._.DS_Store

# autotools
Makefile.in
aclocal.m4
autom4te.cache/
compile
configure
config.guess
config.h.in
config.sub
depcomp
install-sh
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
source/Makefile.in
test-driver
docs/_build
docs/_static
docs/_templates

# vim temp files
*~
*.swp
