#Useful gitignore for python: https://github.com/github/gitignore/blob/master/Python.gitignore
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
distribute-0.*

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Annoying MacOSX files.
.DS_Store
._.DS_Store
